.topbar {
  background: #E4E8F1;
  width: 100%;
  border-bottom-left-radius: 24px;
  margin-bottom: 20px;

  h3 {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #0C2556;
    margin: 0;
    padding: 10px 0 20px 36px;
  }
}
