@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.ttf?ixpxfq') format('truetype'),
  url('/fonts/icomoon.woff?ixpxfq') format('woff'),
  url('/fonts/icomoon.svg?ixpxfq#icomoon') format('svg'),
  url('/fonts/icomoon.eot?ixpxfq') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.menu {
  padding-top: 151px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 15px 0;
      color: #92B5F9;
      font-family: Nunito, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        color: #fff;
      }

      i {
        margin-right: 10px;
      }
    }
  }
}
