.sidebar {
  flex: 0;
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: flex-start;
  align-items: center;
  background: #0C2556;
  border-radius: 24px;
  padding: 54px 35px 0;
}
